.react-calendar-heatmap .color-count-0 { fill: #FF4500 }
.react-calendar-heatmap .color-count-1 { fill: #dcedc8; }
.react-calendar-heatmap .color-count-2 { fill: #aed581; }
.react-calendar-heatmap .color-count-3 { fill: #8bc34a; }
.react-calendar-heatmap .color-count-4 { fill: #689f38; }
.react-calendar-heatmap .color-count-5 { fill: #33691e; }
