.css-z3au5x-MuiButtonBase-root-MuiIconButton-root-MuiPickersToolbar-penIconButton{
    display:none !important;
} 

.css-hlj6pa-MuiDialogActions-root{
    display:none !important;
}

.css-1hbyad5-MuiTypography-root{
    display:none !important;
}

.css-jhsfre-MuiGrid-root-MuiPickersToolbar-content{
    align-self: center !important;
}

.css-jhsfre-MuiGrid-root-MuiPickersToolbar-content{
    display:flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.css-3jvy96-MuiTypography-root-MuiDatePickerToolbar-title{
    font-size: 1.7rem !important;
}

.css-10fao8b-MuiPickersCalendarHeader-labelContainer{
    display:none !important;
}
.css-nk89i7-MuiPickersCalendarHeader-root{
    display:flex !important;
    justify-content: center !important;
}

.css-9reuh9-MuiPickersArrowSwitcher-root{
    display:flex !important;
    width:100% !important;
    justify-content: space-between !important;
}

.css-nk89i7-MuiPickersCalendarHeader-root{
    margin-top: 8px !important;
    margin-bottom: 4px !important;
}


.css-1eurbeq-MuiPickersToolbar-root-MuiDatePickerToolbar-root{
    padding: 8px 12px !important;
}

.css-1e6y48t-MuiButtonBase-root-MuiButton-root{
    display:none !important;
}